<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}
    <main>
      <h1>404 NOT FOUND</h1>
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
