<article>
  <div class="article-meta">
    <div class="categories">
    {{ range $i, $e := .Params.categories }}
      {{ if $i }} &hercon; {{ end }}<a href="{{ relURL (print "/categories/" $e | urlize) }}">{{ $e }}</a>
    {{ end }}
    </div>
    <h1><span class="title">{{ .Title }}</span></h1>
    {{ if .Params.author }}
      <h3 class="author">Authors: {{ partial "author_names.html" . }}</h3>
    {{ end }}
    {{ if .Params.date }}<span class="date">Published: {{ .Date.Format "2006-01-02" }}</span>{{ end }}
    {{ with .Params.tags }}
      <p>
        {{ default "Tags: " (index $.Site.Params.text "tags") }}{{ range $i, $e := . }}{{ if $i }}; {{ end }}<a href="{{ relURL (print "/tags/" $e | urlize) }}">{{ $e }}</a>{{ end }}
      </p>
    {{ end }}
    {{ partial "meta.html" . }}
  </div>
  {{ if .Params.toc }}
    {{ .TableOfContents }}
  {{ end }}
  <main>
    {{ .Content }}
  </main>
  {{ partial "author.html" . }}
  {{ partial "info.html" . }}
  {{ partial "prev_next.html" . }}
  {{ partial "comments.html" . }}
</article>
