<div class="banner">
<a href="{{ relURL .Site.BaseURL }}"{{ if not .Site.Params.banner }} {{ end }}>
{{ with .Site.Params.banner }}
<img src="{{ relURL .src }}" alt="{{ .alt }}" />
{{ else }}{{ .Site.Title | safeHTML }}
{{ end }}</a>
</div>
