<footer>
{{ partial "foot_custom.html" . }}
<div class="footer">
  <ul class="menu">
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL | relURL }}"><span data-hover="{{ .Name }}">{{ .Name }}</span></a></li>
    {{ end }}
  </ul>
  {{ with .Site.Params.footer }}
  <div class="copyright">{{ . | markdownify }}</div>
  {{ end }}
</div>
</footer>

{{ template "_internal/google_analytics.html" . }}

</body>
</html>
