<nav class="header">
  {{ partial "banner.html" . }}
  <div class="head-meta">
  {{ if .IsPage }}
    <span><a href="{{ relURL .Site.BaseURL }}">{{ (default "Back to Home" .Site.Params.text.back) | safeHTML }}</a></span>
    {{ if .File.Path }}
      {{ $RmdFile := (print .File.BaseFileName ".Rmd") }}
      {{ if (where (readDir (print "content/" .File.Dir)) "Name" $RmdFile) }}
        {{ $.Scratch.Set "FilePath" (print .File.Dir $RmdFile) }}
      {{ else }}
        {{ $.Scratch.Set "FilePath" .File.Path }}
      {{ end }}
      {{ with .Site.Params.github_edit}}
      <span><a href="{{ . }}{{ $.Scratch.Get "FilePath" }}">{{ (default "Edit this page" $.Site.Params.text.edit) | safeHTML }}</a></span>
    {{ end }}
  {{ end }}
  {{ else }}
    <span>{{ partial "breadcrumbs.html" . }}</span>
    {{ $paginator := .Paginate (where .Data.Pages "Section" "!=" "") }}
    <span>{{ with $paginator }}{{ if .TotalPages }}{{ .PageNumber }} / {{ .TotalPages }}{{ end }}{{ end }}</span>
  {{ end }}
  </div>
</nav>
