<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}
    {{ partial "article.html" . }}
    {{ partial "footer.html" . }}
  </body>
</html>
